---
import Body from '@layouts/Body.astro'
import NavBar from '@components/NavBar.astro'
import ProjectCard from '@/src/components/ProjectCard.tsx'
import { Icon } from 'astro-icon'

interface project {
  day: number
  title: string
  image: string
  href: string
}

const projects: project[] = [
  {
    day: 1,
    title: 'Expanding Cards',
    image: '/img/day/1/thumbnail.jpg',
    href: '/day/1'
  },
  {
    day: 2,
    title: 'Progress Steps',
    image: '/img/day/2/thumbnail.jpg',
    href: '/day/2'
  },
  {
    day: 3,
    title: 'Rotating Navigation',
    image: '/img/day/3/thumbnail.jpg',
    href: '/day/3'
  },
  {
    day: 4,
    title: 'Hidden Search',
    image: '/img/day/4/thumbnail.jpg',
    href: '/day/4'
  },
  {
    day: 5,
    title: 'Blurry Loading',
    image: '/img/day/5/thumbnail.jpg',
    href: '/day/5'
  },
  {
    day: 6,
    title: 'Scroll Animation',
    image: '/img/day/6/thumbnail.jpg',
    href: '/day/6'
  },
  {
    day: 7,
    title: 'Split Landing Page',
    image: '/img/day/7/thumbnail.jpg',
    href: '/day/7'
  },
  {
    day: 8,
    title: 'Form Wave Animation',
    image: '/img/day/8/thumbnail.jpg',
    href: '/day/8'
  },
  {
    day: 9,
    title: 'Sound Board',
    image: '/img/day/9/thumbnail.jpg',
    href: '/day/9'
  },
  {
    day: 10,
    title: 'Dad Jokes',
    image: '/img/day/10/thumbnail.jpg',
    href: '/day/10'
  },
  {
    day: 11,
    title: 'Event Keycodes',
    image: '/img/day/11/thumbnail.jpg',
    href: '/day/11'
  },
  {
    day: 12,
    title: 'FAQ Collapse',
    image: '/img/day/12/thumbnail.jpg',
    href: '/day/12'
  }
]
---

<Body title="Kino's Web Lab" class='dark flex flex-col'>
  <header class='grid place-items-center h-[85svh]'>
    <Icon class='h-52' name='kino' />
  </header>
  <main id='projects'>
    <NavBar />
    <div class='w-full md:max-w-[80%] m-auto'>
      <h1
        class='p-4 text-2xl md:text-4xl w-full bg-gradient-to-r from-[#fff2] to-transparent md:rounded-l-md'>
        Projects
      </h1>
      <section id='project-grid' class='grid p-4 gap-4'>
        {projects.map(project => <ProjectCard transition:name={`day-${project.day}`} client:only="react" day={project.day} title={project.title}, image={project.image}, href={project.href} />)}
      </section>
    </div>
  </main>
  <footer class='bg-secondary h-screen' id='about'>about</footer>
</Body>

<style>
  #project-grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: minmax(100px, auto);
  }

  @media screen and (min-width: 460px) {
    #project-grid {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-auto-rows: minmax(160px, auto);
    }
  }
</style>
